body {
  background: #f6f5f4;
  color: #333;
}

#main {
  background: #fff;
  width: 980px;
  padding: 40px;
  box-sizing: border-box;
  margin: 100px auto;
  text-align: center;
  border-radius: 3px;
}

.btn {
  background: #00a4d5;
  color: white;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border: none;
  padding: 20px 100px;
  box-shadow: 3px 3px 3px #b8b8b8;
  transition: all 1s;
}

.btn:hover {
  cursor: pointer;
  background: #b2d142;
  transition: all 1s;
  box-shadow: 3px 10px 20px #c8c8c8;
  transform: translateY(-10px);
}