body {
  background: #f6f5f4;
  color: #333;
}

#main {
  background: #fff;
  width: 980px;
  padding: 40px;
  box-sizing: border-box;
  margin: 100px auto;
  text-align: center;
  border-radius: 3px;
}

section {
  margin-bottom: 20px;
}

.btn {
  background: #00a4d5;
  color: white;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border: none;
  padding: 20px 100px;
  transition: all 1s;
}

.btn:hover {
  cursor: pointer;
  transition: all 1s;
}

.btn--color1 {
  background: #b2d142;
}

.btn--color2 {
  background: #dbcc2e;
}

.btn--color3 {
  background: #db6b34;
}

.btn--translate:hover {
  transform: translateX(100px);
}

.btn--scale:hover {
  transform: scale(2, 2);
}

.btn--rotate:hover {
  transform: rotate(360deg);
}

.btn--skew:hover {
  transform: skew(5deg, 5deg);
}